
<div class='d-flex flex-column'>
    <div *ngIf="totalSeats!=0" class='align-self-center'>
        <div class='m-4 d-flex ' *ngFor='let in of counter(totalSeats/rowSeats) ;let i = index'>
           <div class=' fixed-wh-20'><div class='round-val'><div>R{{i+1}}</div></div></div> 
           <div class=' fixed-wh-20' *ngFor='let in of specialCounter(i,totalSeats,rowSeats) ;let j = index'>
               <div [ngStyle]="getColorcode(i*rowSeats+j+1)" class='round-val'>
                   <div>{{i*rowSeats+j+1}}</div>
                </div>
            </div>
        </div>
    </div>
    
    <button class='btn bg-red text-center' [disabled]="yourSeats.length!=reqSeats || btnDisabled" (click)="lockData()">Next</button>
</div>
